
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        this is the defult view by @Model.user with id: @Model.id and password: @Model.pw
    </div>
</body>
</html>
